{% load menu %}

<header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo">
                            <h2><a href="{% url 'blog:home' %}">Classic</a></h2>
                        </div>
                    </div>
                    <div class="col-md-10">
                        {% show_menu %}
                    </div>
                </div>
            </div>
        </header>