{% extends 'base.html' %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
    <section class="bg-text-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-text">
                        <h3>Classic BLOG Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-post-area">
        <div class="container">
            <div class="row">
                <div class="blog-post-area-style">
                    <div class="col-md-12">
                        <div class="single-post-big">
                            <div class="big-image">
                                <img src="img/post-image1.jpg" alt="">
                            </div>
                            <div class="big-text">
                                <h3><a href="#">Post Title Goes Here.</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                <h4><span class="date">25 February 2017</span><span class="author">Posted By: <span
                                        class="author-name">Kabbo Liate</span></span>
                                </h4>
                            </div>
                        </div>
                    </div>

                    {% for post in posts %}
                        <div class="col-md-3">
                            <div class="single-post">
                                {% if post.photo %}
                                    <img src="{{ post.photo.url }}" alt="{{ post.title }}">
                                {% else %}
                                    <img src="https://picsum.photo/id/1060/300/201/?blur=2" alt="{{ post.title }}">
                                {% endif %}
                                <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                <h4><span>Posted By: <span class="author-name">{{ post.author }}</span></span>
                                </h4>
                                <p>{{ post.content | safe | truncatewords:20 }}</p>
                                <h4><span>{{ post.created_at | date:'d.m.Y H:i' }}</span></h4>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        {% if is_paginated %}
            <div class="pegination">
                <div class="nav-links">

                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-numbers"><i
                                class="fa fa-angle-left" aria-hidden="true"></i></a>
                    {% endif %}

                    {% for page in page_obj.paginator.page_range %}
                        {% if page_obj.number == page %}
                            <span class="page-numbers current">{{ page }}</span>
                        {% elif page > page_obj.number|add:-3 and page < page_obj.number|add:3 %}
                            <a class="page-numbers" href="?page={{ page }}">{{ page }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a class="page-numbers" href="?page={{ page_obj.next_page_number }}"><i
                                class="fa fa-angle-right" aria-hidden="true"></i></a>
                    {% endif %}

                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}